
<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="" href="/admin" role="button" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teachers</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/addTeacher">Add New Teacher</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/viewTeachers">View Teachers</a>
        </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Students</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/addStudent">Add New Student</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/viewStudents">View Students</a>
        </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Change Password</a>
        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/signout">Signout</a>
        </div>
        </li>
    </ul>