{% extends "layout.html"%}
{% block body%}
    <form action="/newSignUp" method="post">
        <div class="row">
            <div class="input-field col s6 ">
              <label>Name</label>
              <input name="username" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <label>Password</label>
              <input name="password" type="password" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <label>Email</label>
              <input name="email" type="text" class="validate">
            </div>
            <div class="input-field col s6">

              <input name="role" type="hidden" class="validate" value="admin">
            </div>

        </div>
         <button class="btn waves-effect waves-light blue" type="submit" name="action">Sign UP
  </button>

    </form>
{%endblock%}

{% block footer%}

{%endblock%}